<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="">
  <style>
    * {
      font-family: "Roboto", sans-serif;
    }

    @page {
      size: a4;
    }

    .main-div {
      /* text-align: center;  */
      display: flex;
      align-items: center;
      justify-content: space-around;
    }

    .wrapper {
      display: inline-block;
      /* Adjust width based on content */
      padding: 10px 0;
      /* Space between content and border */
      border: 1px solid gray;
      background-color: white;
    }

    .product-detail,
    .payment-detail {
      width: 100%;
      border-collapse: collapse;
      border-top: 1px solid grey;
      border-bottom: none;
      border-left: none;
      border-right: none;
    }

    .product-detail th {
      border: 1px solid white !important;
      background-color: #000;
      color: #fff;
      font-weight: 600;
    }

    .product-detail th,
    .product-detail td {
      border: 1px solid black;
      /* Borders for table cells */
      padding: 5px;
      text-align: left;
      font-size: 9px;
      /* border-left : none;
            border-right: none */
    }

    .payment-detail th,
    .payment-detail td {
      border: 1px solid black;
      /* Borders for table cells */
      padding: 3px;
      text-align: left;
      font-size: 9px;
      /* border-left : none;
            border-right: none */
    }

    .product-detail th:first-child,
    .product-detail td:first-child,
    .payment-detail th:first-child,
    .payment-detail td:first-child {
      border-left: none;
    }

    /* Remove right border for last child of each row */
    .product-detail th:last-child,
    .product-detail td:last-child,
    .payment-detail th:last-child,
    .payment-detail td:last-child {
      border-right: none;

    }

    .line {
      border-bottom: 1px solid #000;
      /* height: 30px; */
    }

    .footer {
      font-size: 6px;

    }
  </style>
</head>

<body>
  <div class="main-div">
    <div style="margin : 0 auto; border: 1px solid grey" class="wrapper">
      <table style="margin : 0 auto; width: 100%">
        <tr>
          <td style="text-align: left; width: 50%; padding-left: 6px">
            {{#if company.logo}}
            <img src="{{company.logo}}" alt="logo" style="height: 40px; vertical-align: middle; margin-right: 8px;" />
            {{/if}}
            {{#else}}
            <div
              style="border-radius: 70px; padding: 12px 10px; background: grey; width: fit-content; display: inline-block; text-align: center; font-size: 10px; vertical-align: middle;">
              Rental Invoice
            </div>
            {{/else}}
          </td>
          <td style="font-size: 18px; color: grey ; text-align: right;width: 50%; padding-right: 6px">Invoice
          </td>
        </tr>
        <tr>
          <td style="padding-left: 6px;">
            {{#if company.name}}
            <div style="font-size: 14px; padding: 4px 0;font-weight: 600">{{company.name}}</div>
            {{/if}}

            {{#if company.address}}
            <div style="padding-bottom: 2px;font-size: 9px;font-weight: 300">{{company.address}}</div>
            {{/if}}

            {{#if company.phone}}
            <div style="padding-bottom: 2px;font-size: 9px;font-weight: 300">Mob No. {{company.phone}}</div>
            {{/if}}

            {{#if company.email}}
            <div style="padding-bottom: 2px;font-size: 9px;font-weight: 300">Email: {{company.email}}</div>
            {{/if}}

            {{#if company.gstn}}
            <div style="color: black; font-size: 9px;font-weight: 300">GST : {{company.gstn}}</div>
            {{/if}}
          </td>
          <td style="text-align: right; padding-right: 10px;">
            <div style="width: fit-content; display: inline-block; text-align: left;">
              <div style="font-size: 9px;">Invoice Date : {{invoiceDate}}</div>
              <hr style="margin: 3px 0">
              <div style="font-size: 9px;">Invoice No. {{invoiceNumber}}</div>
              <!-- <hr> -->
            </div>
          </td>
        </tr>
        <tr>
          <td style="padding: 15px 0 10px 6px; width: 50%">
            <div style="width: fit-content;">
              <div style="font-size: 10px;"> To, {{customer.name}}</div>
              <hr style="margin: 3px 0">
              <div style="font-size: 9px;padding-bottom: 2px; color: black; font-weight: 300;">
                {{customer.mobile}}
              </div>
              <div style="font-size: 9px;padding-bottom: 2px; color: black; font-weight: 300;">
                {{customer.address}}</div>
            </div>
          </td>
          <td></td>
        </tr>
      </table>
      <table style="margin: 3px auto ;" class="product-detail">
        <tr>
          <th>Sr. no.</th>
          <th>Product</th>
          <th>Description</th>
          <th>Delivery date</th>
          <th>Return date</th>
          {{#if isUnitAvailable}}
          <th>Unit</th>
          {{/if}}
          <th style="text-align: right;">QTY</th>
          <th style="text-align: right;">Rate</th>
          <th style="text-align: right;">Total</th>
        </tr>
        {{#each items}}
        <tr>
          <td>{{index}}</td>
          <td>{{product}}</td>
          <td style="font-size:8px">{{description}}</td>
          <td>{{deliveryDate}}</td>
          <td>{{returnDate}}</td>
          {{#if ../isUnitAvailable}}
          <td>{{unit}}</td>
          {{/if}}
          <td style="text-align: right;">{{quantity}}</td>
          <td style="text-align: right;">
            <span style="font-size: 8px">Rs.</span>
            {{rate}}
          </td>
          <td style="text-align: right;">
            <span style="font-size: 8px">Rs.</span>
            {{total}}
          </td>
        </tr>
        {{/each}}
        <tr>
          <td colspan="3" style="border : none;"></td>
          <td colspan="3" style="text-align: right; ">
            Total
          </td>
          <td colspan="3" style="text-align: right;">
            <div>
              <span style="font-size: 8px">Rs.</span>
              {{total}}
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="3" style="border : none;"></td>
          <td colspan="3" style="text-align: right;">
            <div>Discount :</div>
          </td>
          <td colspan="3" style="text-align: right;">
            <div>
              <span style="font-size: 8px">Rs.</span>
              {{discount}}
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="3" style="border : none"></td>
          <td colspan="3" style="text-align: right">
            <div style="font-size: 8px;">Deposit ({{paymentMethod}})</div>
          </td>
          <td colspan="3" style="text-align: right;">
            <div>
              <span style="font-size: 8px">Rs.</span>
              {{deposit}}
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="3" style="border : none"></td>
          <td colspan="3" style="text-align: right;">
            <div style="font-size: 8px;">Advance ({{paymentMethod}})</div>
          </td>
          <td colspan="3" style="text-align: right; font-weight: 400">
            <div>
              <span style="font-size: 8px">Rs.</span>
              {{advance}}
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="3" style="border : none; font-weight: bold ; font-size: 10px;">Received : <span
              style="font-size:9px">Rs.</span> {{received}}</td>
          <td colspan="3" style="text-align: right; font-weight: 600">
            <div>Outstanding</div>
          </td>
          <td colspan="3" style="text-align: right; font-weight: 600">
            <div>
              <span style="font-size: 8px">Rs.</span>
              {{outstanding}}
            </div>
          </td>
        </tr>
      </table>
      {{#if transactions?.length}}
      <table class="payment-detail" style="margin-top: 10px; border-color: grey;">
        <tr>
          <th>Type</th>
          <th>Receipt No.</th>
          <th>Date</th>
          <th>Mode</th>
          <th>Received/Paid</th>
        </tr>
        {{#each transactions}}
        <tr>
          <td>{{type}}</td>
          <td>{{number}}</td>
          <td>{{date}}</td>
          <td>{{mode}}</td>
          <td>{{amount}}</td>
        </tr>
        {{/each}}
      </table>
      {{/if}}
      <table style="border-collapse:collapse;width: 100%;margin-top: 5px;">
        <tr>
          <td colspan="8" style="padding: 0 0 0 3px;font-size: 8px; font-weight: 500">
            Received the above goods under the terms & conditions mentioned below.
          </td>
          <td colspan="2" style="text-align: right;padding-right: 2px; width: 15%;font-size: 10px;">
            E. & O. E
          </td>
        </tr>
        <tr>
          <td style="font-size:7px; color: grey;padding-left: 3px;padding-bottom: 30px;" colspan="7">
            {{{terms}}}
          </td>
          <td colspan="3"></td>
        </tr>
        <tr>
          <td colspan="5" style="padding-left: 6px; font-size: 9px;">
            Receiver's signature
          </td>
          <td colspan="5" style="text-align: right; font-size: 9px; padding-right: 5px; font-weight: 600;">
            {{#if company.signature}}
            <div style="display: flex; flex-direction: column; align-items: flex-end;">
              <img src="{{company.signature}}" alt="signature" style="height: 40px; margin-bottom: 4px;" />
              <span>Authorised Signatory</span>
            </div>
            {{else}}
            <span>Authorised Signatory</span>
            {{/if}}
          </td>

        </tr>
        <tr>
          <td class="line" colspan="2"></td>
          <td class="line" colspan="8"></td>
        </tr>
        <tr>
          <td colspan="2" style="padding-left: 5px;width:25%" class="footer">Prepared By : {{preparedBy}}</td>
          <td colspan="8" class="footer" style="text-align: right;padding-right: 5px;width:75%">
            This is a Computer generated document and does not require any signature
          </td>
        </tr>
      </table>
    </div>
  </div>
  <script src="" async defer></script>
</body>

</html>